<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="MergeAndCraft" Manufacturer="devoctomy" Version="1.0.0.0" UpgradeCode="64ca1c4b-edd4-4071-b2a4-f20159f21d8b">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>
</Wix>
